<link rel="stylesheet" href="css/about.css" />

<section class="about-text">
  <h2>About Us</h2>
</section>
<div class="carousel-container">
  <div class="about-carousel">
    <button class="carousel-btn prev">&#10094;</button>
    <img src="images/Room 2.jpg" alt="Slide 1" class="carousel-slide active" />
    <img src="images/Dumbbells 6.jpg" alt="Slide 2" class="carousel-slide" />
    <img src="images/Dumbbells 5.jpg" alt="Slide 3" class="carousel-slide" />
    <button class="carousel-btn next">&#10095;</button>
  </div>
</div>

<section class="about-text">
  <p>
    At Badwolf Calisthenics, we're passionate about unlocking the full potential
    of the human body through bodyweight strength, mobility, and endurance
    training. Whether you're a complete beginner or looking to advance your
    skill set, our structured coaching is built to help you move better, feel
    stronger, and train with purpose.
  </p>
</section>

<script src="js/carousel.js"></script>
