<h1>Competition Leaderboard</h1>
<table>
  <thead>
    <tr>
      <th>Participant</th>
      <th>Total Points</th>
    </tr>
  </thead>
  <tbody>
    <% leaderboard.forEach(entry => { %>
    <tr>
      <td><%= entry.displayName %></td>
      <td><%= entry.total %></td>
    </tr>
    <% }) %>
  </tbody>
</table>

<style>
  table {
    width: 75%;
    border-collapse: collapse;
    margin-top: 2rem;
  }

  th,
  td {
    border: 1px solid #444;
    padding: 0.75rem;
    text-align: center;
  }

  th {
    background-color: #00aaff;
    color: #000;
  }
  main {
    display: flex;
    align-items: center;
  }
</style>
