<head>
  <link rel="stylesheet" href="/css/competition-leaderboard.css" />
</head>

<h1>Competition Leaderboard</h1>
<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Participant</th>
      <th>Total Points</th>
    </tr>
  </thead>
  <tbody>
    <% leaderboard.forEach(entry => { %>
    <tr>
      <td><%= entry.rank %></td>
      <td><%= entry.displayName %></td>
      <td><%= entry.total %></td>
    </tr>
    <% }) %>
  </tbody>
</table>
