<head>
  <link rel="stylesheet" href="/css/competition.css" />
</head>

<h1>Calisthenics Competition</h1>
<p>Welcome to the Badwolf Calisthenics Competition!</p>

<ul class="competition-ul">
  <li><a href="/competition/exercises">View Exercises & Scoring</a></li>
  <li><a href="/competition/submit">Submit Your Scores</a></li>
  <li><a href="/competition/leaderboard">Leaderboard</a></li>
</ul>
