<head>
  <link rel="stylesheet" href="/css/competition-exercises.css" />
</head>

<h1>Exercises & Scoring</h1>
<ul>
  <% exercises.forEach(ex => { %>
  <li>
    <%= ex.name %> - <%= ex.description %> <% if (ex.maxPoints) { %> (Max
    Points: <%= ex.maxPoints %>) <% } %>
  </li>
  <% }) %>
</ul>
