<link rel="stylesheet" href="css/main.css" />

<% if (typeof query.uploadSuccess !== 'undefined') { %>
<script>
  alert("Successfully uploaded training plan!");
</script>
<% } %>

<section class="landing">
  <div class="landing-text">
    <h2 class="hero-heading">Build Strength. Master Movement.</h2>
    <p>Beginner calisthenics coaching & functional fitness training.</p>
    <div class="cta-group">
      <a href="https://bookwhen.com/badwolfcalisthenics" class="cta-button"
        >Book a Class</a
      >
      <a
        href="https://www.instagram.com/badwolfcalisthenics/"
        target="_blank"
        rel="noopener"
        class="instagram-link"
        aria-label="Instagram"
      >
        <svg
          xmlns="https://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
          aria-hidden="true"
          role="img"
        >
          <path
            fill="#E1306C"
            d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9S160.5 370.8 224.1 370.8 339 319.5 339 255.9 287.7 141 224.1 141zm0 190.6c-41.9 0-75.9-34-75.9-75.9s34-75.9 75.9-75.9 75.9 34 75.9 75.9-34 75.9-75.9 75.9zm146.4-194.3c0 14.9-12 26.9-26.9 26.9s-26.9-12-26.9-26.9 12-26.9 26.9-26.9 26.9 12 26.9 26.9zm76.1 27.2c-1.7-35.7-9.9-67.2-36.2-93.5-26.3-26.3-57.8-34.5-93.5-36.2-37-2.1-147.9-2.1-184.9 0-35.7 1.7-67.2 9.9-93.5 36.2-26.3 26.3-34.5 57.8-36.2 93.5-2.1 37-2.1 147.9 0 184.9 1.7 35.7 9.9 67.2 36.2 93.5 26.3 26.3 57.8 34.5 93.5 36.2 37 2.1 147.9 2.1 184.9 0 35.7-1.7 67.2-9.9 93.5-36.2 26.3-26.3 34.5-57.8 36.2-93.5 2.1-37 2.1-147.8 0-184.9zm-48.1 224.5c-7.8 19.5-23 34.7-42.5 42.5-29.5 11.7-99.5 9-132.9 9s-103.4 2.6-132.9-9c-19.5-7.8-34.7-23-42.5-42.5-11.7-29.5-9-99.5-9-132.9s-2.6-103.4 9-132.9c7.8-19.5 23-34.7 42.5-42.5 29.5-11.7 99.5-9 132.9-9s103.4-2.6 132.9 9c19.5 7.8 34.7 23 42.5 42.5 11.7 29.5 9 99.5 9 132.9s2.7 103.4-9 132.9z"
          />
        </svg>
      </a>
    </div>
  </div>
  <img
    src="images/Room 2.jpg"
    alt="Calisthenics Skills"
    width="380"
    height="285"
    fetchpriority="high"
  />
</section>
