<link rel="stylesheet" href="css/auth.css" />

<section class="center-auth">
  <section class="login-container">
    <h2>Log In</h2>
    <form id="login-form">
      <input type="email" id="email" placeholder="Email" required />
      <input type="password" id="password" placeholder="Password" required />
      <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="signup">Sign up here</a>.</p>
    <p><a href="#" id="forgot-password-link">Forgot your password?</a></p>
    <p id="login-error" style="color: red"></p>
  </section>

  <script src="/js/auth.js"></script>
</section>
