.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.footer-column:last-child {
  align-items: flex-end; /* align items to the end */
  margin-right: 50px;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.instagram-link {
  display: flex;
  animation: fadeInUp 1.8s ease-out;
  height: 48px; /* match button height */
  width: 48px; /* keep square */
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: #fff; /* optional: white background for contrast */
  box-shadow: 0 0 6px rgba(225, 48, 108, 0.5);
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.instagram-link svg {
  height: 24px; /* scale inside */
  width: 24x;
  fill: #e1306c;
  transition: fill 0.3s ease;
}

.instagram-link:hover {
  background-color: #cc3b6b3a;
  box-shadow: 0 0 10px #e1306c;
  transform: scale(1.1);
}

.instagram-link:hover svg {
  fill: white;
}
